{% set vhost = item %}
<VirtualHost {{ vhost["address"] }}>
{% for key, value in vhost.iteritems() %}
{% if key == 'address' %}
{% elif key in [ 'RewriteRule', 'BrowserMatch', 'SetEnv' ] %}
{% for rule in value %}
  {{ key }} {{ rule }}
{% endfor %}
{% elif key == 'Proxy' %}
{% include "proxy.j2" %}
{% elif key in ['Directory', 'Files', 'FilesMatch' ] %}
{% for block in value %}
  <{{ key }} "{{ block["path"] }}">
{% for key, value in block.iteritems() %}
{% if not key == "path" %}
      {{ key }} {{ value }}
{% endif %}
{% endfor %}
  </{{ key }}>
{% endfor %}
{% else %}
  {{ key }} {{ value }}
{% endif %}
{% endfor %}
</VirtualHost>
